body {
  background-image: url('./images/app-background-img.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 89vh;
  font-family: "Balsamiq Sans", sans-serif;
}


footer {
  background-color: #293241;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

footer a {
  color: #94D7A2;
  text-decoration: none;
  margin: 0 5px;
}

footer p {
  margin: 5px 0;
}